{% extends "basic/layout.html" %}

{% set script_files = script_files + [
'_static/jquery.min.js',
'_static/bootstrap.js',
'_static/doc.js',
'_static/jquery.noconflict.js',
] %}

{% set classes = [] %}
{% if pagename == master_doc %}
  {% set classes = classes + ['index'] %}
{% endif %}

{% if 'code-column' in meta %}
  {% set classes = classes + ['has_code_col'] %}
{% endif %}

{%- block doctype -%}
  <!doctype html>
{%- endblock -%}
{%- block htmltitle -%}
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  {{ super() }}
{%- endblock -%}

{%- block sidebar1 -%}{%- endblock -%}
{%- block sidebar2 -%}{%- endblock -%}
{%- block relbar1 -%}{%- endblock -%}
{%- block relbar2 -%}{%- endblock -%}

{%- block footer -%}
  {%- if google_analytics_key -%}
    <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', '{{ google_analytics_key }}', 'auto');
    ga('set', 'anonymizeIp', true);
    ga('send','pageview');
    </script>
  {%- endif -%}
{%- endblock -%}

{%- block header -%}
  <header class="o_main_header o_has_sub_nav o_inverted {{ ' '.join(classes) }}">
    <div class="o_main_header_main">
      <a class="pull-left o_logo" href="/"></a>
      <a class="pull-left" href="/" target="_blank">
        <img src="/sunpop_logo_white.png" style="height:24px;margin-top:12px;margin-left:10px;">
      </a>
      <a href="#" class="o_mobile_menu_toggle visible-xs-block pull-right">
        <span class="sr-only">Toggle navigation</span>
        <span class="mdi-navigation-menu"></span>
      </a>
      <div class="o_header_buttons">
        <a href="/trial" class="btn btn-primary">免费试用</a>
      </div>
      <ul class="o_primary_nav">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle">应用中心</a>
          <div class="dropdown-menu o_secondary_nav">
            <div class="container">
              <div class="row">
                <div class="col-sm-3 o_website_apps">
                  <div class="o_nav_app_family">
                    <span></span> 门户网站
                    <div>快速可视化网站建设</div>
                  </div>
                  <ul>
                    <li><a href="/page/website-builder">网站设计器</a></li>
                    <li><a href="/page/e-commerce">在线电商</a></li>
                    <li><a href="/page/blog-engine">CMS内容门户</a></li>
                    <li><a href="/page/community-builder">用户论坛</a></li>
                    <li><a href="/page/slides">在线课程</a></li>
                  </ul>
                </div>
                <div class="col-sm-3 o_sale_apps">
                  <div class="o_nav_app_family">
                    <span></span> 销售与市场
                    <div>加速提升订单转化率</div>
                  </div>
                  <ul>
                    <li><a href="/page/sales">销售管理</a></li>
                    <li><a href="/page/crm">CRM客户关系管理</a></li>
                    <li><a href="/page/billing">收入管理</a></li>
                    <li><a href="/page/page/point-of-sale">门店收银POS(零售)</a></li>
                    <li><a href="/page/pos-restaurant">门店收银POS(餐饮)</a></li>
                    <li><a href="/page/subscriptions">内容订阅</a></li>
                    <li><a href="/page/sign">数字签名</a></li>
                  </ul>
                </div>
                <div class="col-sm-3 o_operation_apps">
                  <div class="o_nav_app_family">
                    <span></span> 运营管理
                    <div>提高管理与业务效率</div>
                  </div>
                  <ul>
                    <li><a href="/page/accounting/">财务会计</a></li>
                    <li><a href="/page/project-management/">项目与进度</a></li>
                    <li><a href="/page/warehouse">库存管理</a></li>
                    <li><a href="/page/purchase">采购管理</a></li>
                    <li class="dropdown">
                      <a href="#0" class="dropdown-toggle">人力资源</a>
                      <ul>
                        <li><a href="/page/recruitment">招聘管理</a></li>
                        <li><a href="/page/employees">员工与工资</a></li>
                        <li><a href="/page/expenses">报销管理</a></li>
                        <li><a href="/page/appraisal">绩效与评估</a></li>
                        <li><a href="/page/fleet">车队管理</a></li>
                        <li><a href="/page/leaves">休假管理</a></li>
                      </ul>
                    </li>
                    <li class="dropdown">
                      <a href="#0" class="dropdown-toggle">生产制造</a>
                      <ul>
                        <li><a href="/page/manufacturing">MRP生产计划</a></li>
                        <li><a href="/page/plm">PLM产品生命周期</a></li>
                        <li><a href="/page/maintenance">设备维护</a></li>
                        <li><a href="/page/quality">QM质量控制</a></li>
                      </ul>
                    </li>
                  </ul>
                </div>
                <div class="col-sm-3 o_productivity_apps">
                  <div class="o_nav_app_family">
                    <span></span> 效率工具
                    <div>提升效率的日常工具软件</div>
                  </div>
                  <ul>
                    <li><a href="#">客户支持中心</a></li>
                    <li><a href="/page/timesheet">日程管理</a></li>
                    <li><a href="/page/email-marketing">邮件群发与营销</a></li>
                    <li><a href="/page/events">市场活动</a></li>
                    <li><a href="/page/survey">市场调研</a></li>
                    <li><a href="/page/live-chat">即时沟通</a></li>
                    <li class="dropdown">
                      <a href="#0" class="dropdown-toggle">企业内部交流</a>
                      <ul>
                        <li><a href="/page/discuss">讨论组</a></li>
                        <li><a href="/page/discuss-groups">邮件列表</a></li>
                        <li><a href="/page/notes">员工备忘录</a></li>
                        <li><a href="#">会议管理</a></li>
                      </ul>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
            <a href="/apps/modules" class="o_store_link"><i class="fa fa-cube fa-fw"></i> 第三方应用市场</a>
          </div>
        </li>
        <li><a href="/">入门教程</a></li>
        <li><a href="/pricing">价格</a></li>
        <li><a href="/documentation">文档中心</a></li>
      </ul>
    </div>
    <nav class="navbar o_sub_nav">
      <div class="container">
        <div class="navbar-header visible-xs">
            <button type="button" class="navbar-toggle collapsed text-left btn-block" data-toggle="collapse" data-target="#o_sub-menu" aria-expanded="false">
              导航栏
              <span class="mdi-hardware-keyboard-arrow-down pull-right"></span>
            </button>
        </div>

        <div class="collapse navbar-collapse" id="o_sub-menu">
          <ol class="o_breadcrumb breadcrumb nav navbar-left">
              {% block breadcrumb_desktop %}
              {% include "breadcrumb_list.html" %}
              {% endblock %}
          </ol>

          <div class="call-to-action navbar-right hidden-xs">
            <a href="/trial" class="btn btn-primary">免费试用</a>
          </div>

          <ul class="navbar-nav navbar-right nav o_sub_nav_actions">
            {% if pagename != master_doc %}
              <li class="divider"></li>
            {% endif%}

            {% block switchers_desktop %}
            {% include "switchers_list.html" %}
            {% endblock %}
          </ul>

          <ul class="nav navbar-nav navbar-right">
            {% if languages or versions %}
              <li class="divider"></li>
            {% endif %}

            {% block sub_menu_desktop %}
            {% include "sub-menu_list.html" %}
            {% endblock %}

            {% if languages or versions %}
              <li class="divider"></li>
            {% endif %}
          </ul>
        </div>
      </div>
    </nav>
  </header>

{%- endblock -%}

{%- block content -%}
  <div id="wrap" class="{{' '.join(classes) }}">
    {% if meta['banner'] %}
    {% set has_banner = 'has_banner' %}
    {% endif %}
    <figure class="card top {{ has_banner }}">
      <span class="card-img" {% if meta['banner'] %}style="background-image: url('{{ pathto('_static/' + meta['banner'], True) }}');"{% endif %}></span>
      <div class="container text-center">
        <h1> {{ meta.get('main-title', title) }} </h1>
      </div>
    </figure>
    {% if 'code-column' in meta %}
    {% set container = 'container-fluid' %}
    {% else %}
    {% set container = 'container' %}
    {% endif %}
    <div class="{{ container}} {{ ' '.join(classes) }}">
      <main class="container-fluid {{ ' '.join(classes) }}">
        {% if pagename != master_doc %}
        <div class="row">
          {% if 'has-toc' not in meta and not (pagename in toc) %}
          <aside>
            <div class="navbar-aside text-center">
              {{ toc }}
              <p class="navbar-aside text-center">
                <script type="text/javascript">(function () {
                    document.write(unescape('%3Cdiv id="bdcs"%3E%3C/div%3E'));
                    var bdcs = document.createElement('script');
                    bdcs.type = 'text/javascript';
                    bdcs.async = true;
                    bdcs.src = 'http://znsv.baidu.com/customer_search/api/js?sid=5279462537011783724' + '&plate_url=' + encodeURIComponent(window.location.href) + '&t=' + Math.ceil(new Date() / 3600000);
                    var s = document.getElementsByTagName('script')[0];
                    s.parentNode.insertBefore(bdcs, s);
                })();</script>
              </p>
              <p class="navbar-aside text-center">
                <a href="/" class="gith-link">
                  更多技术支持
                </a>
              </p>
              {% if github_link %}
              <p class="gith-container"><a href="{{ github_link(mode='edit') }}" class="gith-link">
                  Edit on GitHub
              </a></p>
              {% endif %}
            </div>
          </aside>
          {% endif %}
          <article class="doc-body {% if 'has-toc' in meta %}doc-toc{% endif %} {% if pagename in toc%}index-category{% endif %}">
            {% endif %}
            {% block body %} {% endblock %}
          {% if pagename != master_doc %}</article>
        </div>
        {% endif %}
        <div id="mask"></div>
      </main>
    </div>
  </div>

  <div class="floating_action_container">
    <a id="floating_action" class="ripple" href="#">
      <i class="mdi-action-explore"></i>
    </a>
    <div id="floating_action_menu">
      <span class="bubble"></span>
      <ul class="list-group content">
        <li class="list-group-item ripple"><a>Cras justo odio</a></li>
        <li class="list-group-item ripple"><a>Dapibus ac facilisis in</a></li>
        <li class="list-group-item ripple"><a>Morbi leo risus</a></li>
        <li class="list-group-item ripple"><a>Porta ac consectetur ac</a></li>
        <li class="list-group-item ripple"><a>Vestibulum at eros</a></li>
      </ul>
    </div>
  </div>
  <footer>
    <div class="o_footer_bottom">
      <div class="container">
        <a class="small" href="/contact"><span
                class="o_logo o_logo_inverse o_logo_15"></span></a>
        <a class="" href="http://www.sunpop.cn/contact" target="_blank">
          <img src="http://www.sunpop.cn/sunpop_logo_white.png" style="height:16px;margin-top:-6px;margin-left:10px;">
        </a>
        <a href="tel://13925160800">联系我们：13925160800</a>
        <a class="pull-right" href="http://www.sunpop.cn" target="_blank"> ©2009-2018 广州尚鹏信息科技有限公司</a>
        <a class="pull-right" href="http://www.miitbeian.gov.cn" target="_blank">粤ICP备15007240号-1&nbsp;&nbsp;</a>
      </div>
    </div>
  </footer>
{%- endblock -%}
